button {
  /* layout */
  display: flex;
  height: 53px;
  padding: var(--spacing-0);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-0);
  align-self: stretch;
  /* style */
  border-radius: 8px;
  background-color: var(--color-purple-950);
  color: var(--color-white);
}
